@import url('Fonts.css');

*
{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

    font-family: 'Avenir Next Cyr';
    font-size: 2vh;
}

body
{
    background-color: #111111;
}

page
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: flex-start;
}

.Content
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;

    width: 60vw;
    color: #FFF;
}

.Content p.Desciption
{
    margin-bottom: 4vh;
}